@import url('https://fonts.googleapis.com/css2?family=Reddit+Mono:wght@200..900&display=swap');

* {
    font-family: "Reddit Mono", monospace;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-size: cover;
    background-position: center;
    background-attachment: fixed; 
    overflow: hidden;
}

.navbar {
    display: flex;
    justify-content: center;
    background-color: #414142;
    padding: 10px;
}

.navbar a {
    color: #ababab;
    text-decoration: none;
    padding: 15px 35px;
    text-align: center;
    transition: .3s ease-in-out;
}

.active {
    border-bottom: 2px solid #0066cc;
    color: #fff;
}

.navbar img {
    height: auto;
    width: 40px;
    margin-right: 50px; 
}

.navbar a:hover {
    border-bottom: 2px solid #0066cc;
    color: #fff;
}

.background-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 600px;
    justify-content: space-between;
}

.arrow {
    cursor: pointer;
    font-size: 3em;
    margin: 0 20px;
    color: #0066cc;
    user-select: none;
    transition: .42s ease-in-out;
}

.arrow:hover {
    color: #fff;
}

.text-box {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    padding: 20px;
    border-radius: 8px;
    min-width: 300px;
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.text-box.hide-left,
.text-box.hide-right {
    opacity: 0;
    pointer-events: none;
}

.text-box.hide-left {
    transform: translateX(-100%);
}

.text-box.hide-right {
    transform: translateX(100%);
}

body.hide-left,
body.hide-right {
    transition: none; 
}

@media (max-width: 1024px) {
    .navbar a {
        padding: 10px 20px;
    }
    .arrow {
        font-size: 2em;
    }
    .text-box {
        padding: 15px;
    }
}

@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
    }
    .navbar a {
        padding: 10px 15px;
    }
    .background-container {
        flex-direction: column;
    }
    .arrow {
        font-size: 1.5em;
    }
    .text-box {
        padding: 10px;
        min-width: 250px;
    }
}

@media (max-width: 480px) {
    .navbar a {
        padding: 5px 10px;
    }
    .background-container {
        flex-direction: column;
        width: 100%;
    }
    .arrow {
        display: none;
    }
    .text-box {
        padding: 5px;
        min-width: 200px;
    }
    .text-box p {
        font-size: 0.9em;
    }
}