@import url('https://fonts.googleapis.com/css2?family=Reddit+Mono:wght@200..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: "Reddit Mono", sans-serif;
  }
  
  :root {
    --text-color: #ECECEC;
    --background-color: #84848f;
    --sec-background-color: #101010;
    --main-color: #0066cc;
  }
  
  html {
  font-size: 62.5%;
  overflow-x: hidden;
  }
  
  body {
  background: var(--background-color);
  color: var(--text-color);
  }
  
  .header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 3rem 9%;
  background: rgba( 0, 0, 0, 0.6);
  backdrop-filter: blur(10px);
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 100;
  }
  
  .logo {
  font-size: 3rem;
  color: var(--text-color);
  font-weight: 800;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  }
  
  .logo:hover {
  transform: scale(1.1);
  }
  
  .logo span {
  text-shadow: 0 0 20px var(--main-color);
  }
  
  .navbar a{
  font-size: 1.8rem;
  color: var(--text-color);
  margin-left: 4rem;
  font-weight: 500;
  transition: 0.3s ease;
  border-bottom: 3px solid transparent;
  }
  
  .navbar a:hover,
  .navbar a.active {
  color: var(--main-color);
  border-bottom: 3px solid var(--main-color);
  }
  
  #menu-icon {
  font-size: 3.6rem;
  color: var(--main-color);
  display: none;
  }


.background-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 600px;
    justify-content: space-between;
}


.languages {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 20px;
  font-size: 25px;
}
.language {
  background-color: #444;
  border-radius: 10px;
  padding: 20px;
  width: 30%;
  box-sizing: border-box;
  margin: 10px;
  text-align: center;
}
.language img {
  width: 250px;
  height: auto;
  margin: 10px 0;
}

@media only screen and (max-width: 768px) {
  :root {
      --text-color: #ECECEC;
      --background-color: #84848f;
      --sec-background-color: #101010;
      --main-color: #0066cc;
  }

  body {
      font-size: 14px;
  }

  .header {
      padding: 2rem 6%;
  }

  .logo {
      font-size: 2rem;
  }

  .navbar a {
      font-size: 1.4rem;
      margin-left: 2rem;
  }

  #menu-icon {
      font-size: 2.6rem;
  }

  .background-container,
  .languages,
  .oppgaver,
  .eksempler {
      flex-direction: column;
      align-items: center;
  }

  .language,
  .oppgave,
  .eksempel {
      width: 80%;
      font-size: 1.6rem;
  }
}