@import url('https://fonts.googleapis.com/css2?family=Reddit+Mono:wght@200..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: "Reddit Mono", sans-serif;
}
  
:root {
    --text-color: #ECECEC;
    --background-color: #84848f;
    --sec-background-color: #101010;
    --main-color: #0066cc;
}
  
html {
    font-size: 62.5%;
    overflow-x: hidden;
}
  
body {
    background: var(--background-color);
    color: var(--text-color);
}
  
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 3rem 9%;
    background: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(10px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 100;
}
  
.logo {
    font-size: 3rem;
    color: var(--text-color);
    font-weight: 800;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}
  
.logo:hover {
    transform: scale(1.1);
}
  
.logo span {
    text-shadow: 0 0 20px var(--main-color);
}
  
.navbar a {
    font-size: 1.8rem;
    color: var(--text-color);
    margin-left: 4rem;
    font-weight: 500;
    transition: 0.3s ease;
    border-bottom: 3px solid transparent;
}
  
.navbar a:hover,
.navbar a.active {
    color: var(--main-color);
    border-bottom: 3px solid var(--main-color);
}
  
#menu-icon {
    font-size: 3.6rem;
    color: var(--main-color);
    display: none;
}
  
.background-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 600px;
    justify-content: space-between;
}

.background-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 600px;
    justify-content: space-between;
}

.tittel {
    text-align: center;
    margin: 20px 0;
}
.languages {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 20px;
    font-size: 25px;
}
.language {
    background-color: #444;
    border-radius: 10px;
    padding: 20px;
    width: 30%;
    box-sizing: border-box;
    margin: 10px;
    text-align: center;
}
.language img {
    max-width: 100px;
    margin: 10px 0;
}

.oppgaver {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 20px;
    font-size: 25px;
}
.oppgave {
    background-color: #444;
    border-radius: 10px;
    padding: 20px;
    width: 30%;
    box-sizing: border-box;
    margin: 10px;
    text-align: center;
}
.oppgave img {
    max-width: 400px;
    margin: 10px 0;
}

.eksempler {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 20px;
    font-size: 25px;
}
.eksempel {
    background-color: #444;
    border-radius: 10px;
    padding: 20px;
    width: 30%;
    box-sizing: border-box;
    margin-top: 20px;
    text-align: center;
}
.eksempel img {
    max-width: 400px;
    margin: 10px 0;
}

.styled-button {
    display: inline-block;
    background-color: #0066cc;
    color: white;
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    transition: background-color 0.3s, transform 0.3s;
    border-radius: 15px;
}
.styled-button:hover {
    background-color: #0066cc;
    transform: scale(1.10);
}
.styled-button a {
    color: white;
    text-decoration: none;
}
.styled-button a:hover {
    text-decoration: none;
}

#back-to-top {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    font-size: 18px;
    background-color: #0066cc;
    color: white;
    padding: 15px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

#back-to-top:hover {
    background-color: #555;
}

@media only screen and (max-width: 480px) {
    h1 {
        margin-top: 20px;
    }

    .background-container {
        max-width: 100%;
    }

    .language, .oppgave, .eksempel {
        width: 100%;
    }

    .navbar a {
        margin-left: 2rem;
    }
}

@media only screen and (min-width: 481px) and (max-width: 1024px) {
    h1 {
        margin-top: 20px;
    }

    .background-container {
        max-width: 100%;
    }

    .language, .oppgave, .eksempel {
        width: 100%;
    }

    .navbar a {
        margin-left: 3rem;
    }
}

@media only screen and (min-width: 1025px) {
    .background-container {
        max-width: 600px;
    }

    .language, .oppgave, .eksempel {
        width: 30%;
    }

    .navbar a {
        margin-left: 4rem;
    }
}
