@import url('https://fonts.googleapis.com/css2?family=Reddit+Mono:wght@200..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: "Reddit Mono", sans-serif;
}

:root {
    --text-color: #ECECEC;
    --background-color: #AAABB8;
    --sec-background-color: #101010;
    --main-color: #0066cc;
}

html {
    font-size: 62.5%;
    height: 100%;
    overflow-x: hidden;
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
    color: var(--text-color);
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center center;
    transition: background-image 0.5s ease-in-out; 
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 3rem 9%;
    background: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(10px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 100;
}

.logo {
    font-size: 3rem;
    color: var(--text-color);
    font-weight: 800;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.logo:hover {
    transform: scale(1.1);
}

.logo span {
    text-shadow: 0 0 20px var(--main-color);
}

.navbar a {
    font-size: 1.8rem;
    color: var(--text-color);
    margin-left: 4rem;
    font-weight: 500;
    transition: 0.3s ease;
    border-bottom: 3px solid transparent;
}

.navbar a:hover,
.navbar a.active {
    color: var(--main-color);
    border-bottom: 3px solid var(--main-color);
}

#menu-icon {
    font-size: 3.6rem;
    color: var(--main-color);
    display: none;
}

.background-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 600px;
    justify-content: space-between;
}

.arrow {
    cursor: pointer;
    font-size: 5em;
    margin: 0 20px;
    color: #003a73;
    user-select: none;
    transition: .42s ease-in-out;
}

.arrow:hover {
    color: #0066cc;
}

.text-box {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    padding: 20px;
    border-radius: 8px;
    min-width: 300px;
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.text-box.hide-left,
.text-box.hide-right {
    opacity: 0;
    pointer-events: none;
}

.text-box.hide-left {
    transform: translateX(-100%);
}

.text-box.hide-right {
    transform: translateX(100%);
}

body.hide-left,
body.hide-right {
    transition: none; 
}

.content {
    flex: 1; 
}

.styled-button {
    display: inline-block;
    background-color: #0066cc;
    color: white;
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    font-size: 12px;
    transition: background-color 0.3s, transform 0.3s;
    border-radius: 15px;
}

.styled-button:hover {
    background-color: #003a73;
}


@media only screen and (max-width: 480px) {

    .header {
        padding: 2rem;
    }

    .navbar a {
        margin-left: 2rem;
    }

    .text-box {
        min-width: 200px;
    }

    .arrow {
        font-size: 2em;
    }
}

@media only screen and (min-width: 481px) and (max-width: 1024px) {

    .header {
        padding: 2.5rem;
    }

    .navbar a {
        margin-left: 3rem;
    }

    .text-box {
        min-width: 250px;
    }

    .arrow {
        font-size: 2.5em;
    }
}

@media only screen and (min-width: 1025px) {

    .header {
        padding: 3rem 9%;
    }

    .navbar a {
        margin-left: 4rem;
    }

    .text-box {
        min-width: 300px;
    }

    .arrow {
        font-size: 3em;
    }
}